@import "./../../../styles/variables";

.order{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding-left: clamp(20px, 19vw, 375px);
  padding-right: clamp(20px, 19vw, 375px);
  background-color: $neutral-05;
}