@import "./../../styles/variables";

.header{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: clamp(20px, 19vw, 375px);
  padding-right: clamp(20px, 19vw, 375px);
  padding-top: 33px;
  padding-bottom: 31px;
  background-color: $neutral-04;
  z-index: 1;
  
  @media screen and (max-width: 1200px) {
    padding-left: clamp(20px, 19vw, 96px);
    padding-right: clamp(20px, 19vw, 96px);
    nav{
      gap: 16px;
    }
  }
}