@import "./../../../styles/variables";

.footer-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-wrap: nowrap;
  color: #C3C3C3!important;
  font-weight: 400!important;
  font-size: clamp(8px, 10vw, 13px)!important;
  line-height: 100%!important;
  letter-spacing: 0!important;
  vertical-align: middle!important;
  text-transform: uppercase!important;
}
